.container {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  overflow: hidden;
}

.topContainer {
  margin-bottom: 85px;
}

.input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #94a3b8;
  background-color: #f8fafc;
  margin-right: 20px;
  outline: none;
}

.input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.5);
  background-color: #ffffff;
}

.inputContainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.guideSectionContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-top: 55px;
  margin-bottom: 105px;
}

.guideImageContainer {
  position: relative;
}

.guideSectionText {
  padding: 0 25px;
  flex: 1;
}

.flex {
  display: flex;
  align-items: center;
}

.checkedIcon {
  margin-right: 8px;
  display: block;
}

.moreBlogsSection {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articlesContainer {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 60px;
}

.faqContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -48px;
}

.frequentelyAskedContainer {
  max-width: 870px;
  margin-bottom: 100px;
}

.questionsTextContainer {
  display: flex;
  align-items: center;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  background-color: #2f354e;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: 1px solid #f8fafc;
  padding: 16px;
  color: #f8fafc;
  min-height: 65px;
  width: 870px;
  margin: 18px 0;
}

.faqIconContainer {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 250, 252, 1);
  border-radius: 50%;
  margin-right: 16px;
  cursor: pointer;
}

.answerContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease-out;
  border-left: 2px solid transparent;
  padding-left: 10px;
  max-height: 0;
}

.answerContainerExpanded {
  border-left: 2px solid #f8fafc;
  margin: 20px;
  max-height: 240px;
}

.answerContent {
  opacity: 0;
  transform: scaleY(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform-origin: top;
  padding: 5px 0; /* Adjust padding to ensure content has space when scaled */
  margin-left: 20px; /* Add margin to the left of the content if needed */
}

.answerContainerExpanded .answerContent {
  opacity: 1;
  transform: scaleY(1);
  /* Transition for max-height removed to simplify and focus on transform and opacity */
}

.questionText {
  display: flex;
  align-items: center;
}
