.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 115px;
  margin-top: 100px;
}

.heroHeadingContainer {
  margin-bottom: 28px;
}

.heroHeading {
  position: relative;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  line-height: 70px;
}

.bannerImageContainer {
  position: relative;
  border-radius: 30px;
  width: 1205px; /* or 100% if it should be responsive */
  height: 296px;
  overflow: hidden;
  margin: 48px 0;
}

.guideImageContainer {
  border-radius: 41px;
}

.guideSectionContent {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 105px;
}

.guideSectionText {
  padding-right: 25px;
  flex: 1;
}

/* avatar section */

.avatarSection {
  margin-top: 50px;
}

.avatarTopDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.avatarSectionTextContainer {
  width: 628px;
}

.avatarContainer {
  width: 560px;
}

.speechBalloonsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 44%;
}

.speechBalloon {
  background-color: rgba(255, 255, 255, 0.08);
  color: #f8fafc;
  padding: 10px 20px;
  border-radius: 25px 25px 0 25px;
  position: relative;
  width: min-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  max-width: 100%;
  display: inline-flex;
  white-space: nowrap;
}

.imageContainer {
  height: 401.5px;
  width: 344px;
  border-radius: 50%;
  margin-left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.imageContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-image: url("../images/avatarBackground2.png");
  background-size: cover;
  background-position: center;
  mix-blend-mode: screen;
  z-index: -1;
}

.avatarImage {
  position: absolute;
  bottom: 8px;
}

/* bottom section*/

.imagesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-top: 70px;
  margin-bottom: 90px;
}

.image1Container {
  background-color: #000;
  display: inline-flex;
  padding: 12px;
  align-items: flex-start;
  gap: 10px;
}

.image2Container {
  display: flex;
  width: 281px;
  height: 182px;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: rgba(16, 63, 97, 0.2);
}

.flexDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonContainer {
  margin-top: 100px;
}
