* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes at least the viewport's full height */
  font-size: 18px;
  background-color: #191f3f;
}

.mainContainer {
  flex-grow: 1;
  margin-bottom: 150px;
}

.centralizedHeading {
  position: relative;
  color: #ffffff;
  padding-bottom: 10px;
  font-size: 44px;
  text-align: center;
  text-transform: capitalize;
  line-height: 70px;
}

.centralizedText {
  font-size: 16px;
  text-align: center;
  color: #e2e8f0;
  line-height: 32px;
  
}

.leftHeading {
  color: #f8fafc;
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 44px;
  margin-bottom: 24px;
}

.leftText {
  font-size: 16px;
  text-transform: capitalize;
  color: #e2e8f0;
  line-height: 32px;
  margin-bottom: 24px;
}

.roundedContainer {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 6px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #cbd5e1;
  color: #cbd5e1;
  font-size: 12px;
  margin-bottom: 24px;
  width: fit-content;
}

.buttonGrey {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  margin: 12px;
  border: none;
  cursor: pointer;
  color: #f8fafc;
  padding: 12px 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.buttonYellow {
  background-color: #f7ce46;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #191f3f;
  padding: 12px 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.buttonMargin {
  margin: 12px;
}

.yellowSpan {
  color: #f7ce46;
  text-transform: capitalize;
}

